/* 3. Posicionamiento de elementos con POSITION */

*{
    margin: 0;
    padding: 0;
}

/* POSITION FIXED - Fijar un elemento a la pantalla */
nav{
    background: #aaa;
    color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 51;
}
header h1{
    margin-top: 60px
}
#contenedor{
    margin-top: 15px;
    border: solid 3px black;
    width: 75%;
    height: 40vh;
    margin-left: 12.5%;
}

#contenedor > div {
    border: solid 2px red;
    width: 50%;
    top: 50px;
    left: 25%;
}

/* POSITION ABSOLUTE - Posicionamiento Absoluto respecto a la pantalla -- Respecto al body */
#absoluto {
    position: absolute;
}

/* POSITION RELATIVE -- Posicionamiento Relativo respecto a su contenedor -- Respecto al DIV */
#relativo {
    position: relative;
}

#contenedor2{
    float: left;
    margin-top: 10px;
    border: solid 3px black;
    margin-left: 12.5%;
    width: 75%;
    min-height: 30vh;
    padding-bottom: 10px;
}

.flota {
    float: left;
    width: 30%;
    border: solid 1px black;
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px;
    
}

.flota span, .flota p{
    margin-left: 5px;
    padding: 5px;
    width:  10%;
    border: solid 1px salmon;
}

.flotaizquierda span, .flotaizquierda p{
    float: left;
}

.flotaderecha span, .flotaderecha p{
    float: right;
}

#izquierda{
    clear: left;
}

#derecha{
    clear: right;
}
